/*
  page-template:
    hasaha-bg
    left-padding
    paragraph-indent
*/

body
{
  background: #e5e5e5 url(../images/20131018454_bg.jpg) no-repeat fixed;
  background-position:100% 100%;
  font-family: sans-serif;
  font-size: 13px;
}

div#content-wrap
{
  position:absolute;
  top:120px;
  left:160px;
  right:480px;
}

div.indent
{
  margin-left: 6px;
}

h1
{
  text-shadow: 0px 0px 4px #202020;
  font-size: 36px;
}

h2
{
  font-size: 20px;
  margin-bottom:0.2em;
}