<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:web="http://java.sun.com/xml/ns/javaee"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="WebApp_ID" version="2.5">
  <display-name>librarica</display-name>

  <!--
  <servlet>
    <servlet-name></servlet-name>
    <servlet-class>cn.edu.scau.librarica.</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name></servlet-name>
    <url-pattern>cn.edu.scau.librarica.</url-pattern>
  </servlet-mapping>
  -->

  <!-- bootstrap -->
    <listener>
      <listener-class>cn.edu.scau.librarica.util.bootstrap.BootstrapJSPAdapter</listener-class>
    </listener>
  <!-- /bootstrap -->

  <!-- audit -->
    <listener>
      <listener-class>cn.edu.scau.librarica.util.audit.UriAuditListener</listener-class>
    </listener>
  <!-- /audit -->

  <!-- authorize -->
    <servlet>
      <servlet-name>AuthorizeRegisterUser</servlet-name>
      <servlet-class>cn.edu.scau.librarica.authorize.servlet.Register</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AuthorizeRegisterUser</servlet-name>
      <url-pattern>/user/register</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>AuthorizeGetRSAKey</servlet-name>
      <servlet-class>cn.edu.scau.librarica.authorize.servlet.GetRsaKey</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AuthorizeGetRSAKey</servlet-name>
      <url-pattern>/security/get-rsa-key</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>AuthorizeActivateUser</servlet-name>
      <servlet-class>cn.edu.scau.librarica.authorize.servlet.Activate</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AuthorizeActivateUser</servlet-name>
      <url-pattern>/user/activate</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>AuthorizeLogin</servlet-name>
      <servlet-class>cn.edu.scau.librarica.authorize.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AuthorizeLogin</servlet-name>
      <url-pattern>/user/login</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>AuthorizeLogout</servlet-name>
      <servlet-class>cn.edu.scau.librarica.authorize.servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AuthorizeLogout</servlet-name>
      <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>AuthorizeSearchUserBasic</servlet-name>
      <servlet-class>cn.edu.scau.librarica.authorize.servlet.SearchUser</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>AuthorizeSearchUserBasic</servlet-name>
      <url-pattern>/user/search-basic</url-pattern>
    </servlet-mapping>

    <filter>
      <filter-name>PasswordVerifier</filter-name>
      <filter-class>cn.edu.scau.librarica.authorize.filter.PasswordVerifier</filter-class>
      <init-param>
        <param-name>userIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
      <init-param>
        <param-name>passParamName</param-name>
        <param-value>pass</param-value>
      </init-param>
    </filter>
    <!-- remove comment while enable
    <filter-mapping>
      <filter-name>PasswordVerifier</filter-name>
        userIdParamName=uid
        passParamName=pass
    </filter-mapping>
    -->

    <filter>
      <filter-name>SessionKeyVerifier</filter-name>
      <filter-class>cn.edu.scau.librarica.authorize.filter.SessionKeyVerifier</filter-class>
      <init-param>
        <param-name>userIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
      <init-param>
        <param-name>sessionKeyParamName</param-name>
        <param-value>s</param-value>
      </init-param>
    </filter>
    <!-- remove comment while enable.
    <filter-mapping>
      <filter-name>SessionKeyVerifier</filter-name>
        userIdParamName=uid
        sessionKeyParamName=s
    </filter-mapping>
    -->
  <!-- /authorize -->

  <!-- shelf -->
    <servlet>
      <servlet-name>ShelfAddBook</servlet-name>
      <servlet-class>cn.edu.scau.librarica.shelf.servlet.AddBook</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>ShelfAddBook</servlet-name>
      <url-pattern>/book/add</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>ShelfSearchBook</servlet-name>
      <servlet-class>cn.edu.scau.librarica.shelf.servlet.SearchBook</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>ShelfSearchBook</servlet-name>
      <url-pattern>/book/search</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>ShelfRemoveBook</servlet-name>
      <servlet-class>cn.edu.scau.librarica.shelf.servlet.RemoveBook</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>ShelfRemoveBook</servlet-name>
      <url-pattern>/book/remove</url-pattern>
    </servlet-mapping>

    <filter>
      <filter-name>BookOwnerVerifier</filter-name>
      <filter-class>cn.edu.scau.librarica.shelf.filter.BookOwnerVerifier</filter-class>
      <init-param>
        <param-name>bookIdParamName</param-name>
        <param-value>id</param-value>
      </init-param>
      <init-param>
        <param-name>userIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>BookOwnerVerifier</filter-name>
      <!--
        bookIdParamName=id
        userIdParamName=uid
      -->
      <url-pattern>/book/remove</url-pattern>
    </filter-mapping>

    <filter>
      <filter-name>BookOwnerInterceptor</filter-name>
      <filter-class>cn.edu.scau.librarica.shelf.filter.BookOwnerInterceptor</filter-class>
      <init-param>
        <param-name>bookIdParamName</param-name>
        <param-value>id</param-value>
      </init-param>
      <init-param>
        <param-name>userIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
    </filter>
    <!--
    <filter-mapping>
      <filter-name>BookOwnerInterceptor</filter-name>
        bookIdParamName=id
        userIdParamName=uid
    </filter-mapping>
    -->

    <filter-mapping>
      <filter-name>SessionKeyVerifier</filter-name>
      <!--
        userIdParamName=uid
        sessionKeyParamName=s
      -->
      <url-pattern>/book/add</url-pattern>
      <url-pattern>/book/remove</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>IsBookEnvolvedBorrowSessionIntercepter</filter-name>
      <!--
        bookIdParamName=id
      -->
      <url-pattern>/book/remove</url-pattern>
    </filter-mapping>  

    <filter-mapping>
      <filter-name>IsBookEnvolvedBuySessionIntercepter</filter-name>
      <!--
        bookIdParamName=id
      -->
      <url-pattern>/book/remove</url-pattern>
    </filter-mapping>
  <!-- /shelf -->

  <!-- lend -->
    <servlet>
      <servlet-name>LendRegBorrowable</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.RegBorrowable</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>LendRegBorrowable</servlet-name>
      <url-pattern>/lend/reg</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>LendUpdateBorrowable</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.UpdateBorrowable</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>LendUpdateBorrowable</servlet-name>
      <url-pattern>/lend/update</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>LendUnregBorrowable</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.UnregBorrowable</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>LendUnregBorrowable</servlet-name>
      <url-pattern>/lend/unreg</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>LendSearchBorrowable</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.SearchBorrowable</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>LendSearchBorrowable</servlet-name>
      <url-pattern>/lend/search</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>LendFilterBorrowableBids</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.FilterBorrowableId</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>LendFilterBorrowableBids</servlet-name>
      <url-pattern>/lend/filter-bid</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>LendFilterBorrowableIsbns</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.FilterBorrowableIsbn</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>LendFilterBorrowableIsbns</servlet-name>
      <url-pattern>/lend/filter-isbn</url-pattern>
    </servlet-mapping>

    <filter-mapping>
      <filter-name>BookOwnerVerifier</filter-name>
      <!--
        bookIdParamName=id
        userIdParamName=uid
      -->
      <url-pattern>/lend/reg</url-pattern>
      <url-pattern>/lend/update</url-pattern>
      <url-pattern>/lend/unreg</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>SessionKeyVerifier</filter-name>
      <!--
        userIdParamName=uid
        sessionKeyParamName=s
      -->
      <url-pattern>/lend/reg</url-pattern>
      <url-pattern>/lend/update</url-pattern>
      <url-pattern>/lend/unreg</url-pattern>
    </filter-mapping>
  <!-- /lend -->

  <!-- borrow -->
    <servlet>
      <servlet-name>BorrowRequestBorrow</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.RequestBorrow</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BorrowRequestBorrow</servlet-name>
      <url-pattern>/borrow/req-borrow</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BorrowAbort</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.Abort</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BorrowAbort</servlet-name>
      <url-pattern>/borrow/abort</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BorrowReject</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.Reject</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BorrowReject</servlet-name>
      <url-pattern>/borrow/reject</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BorrowAccept</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.Accept</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BorrowAccept</servlet-name>
      <url-pattern>/borrow/accept</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BorrowConfirmBorrow</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.ConfirmBorrow</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BorrowConfirmBorrow</servlet-name>
      <url-pattern>/borrow/conf-borrow</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BorrowRequestReturn</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.RequestReturn</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BorrowRequestReturn</servlet-name>
      <url-pattern>/borrow/req-return</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BorrowConfirmReturn</servlet-name>
      <servlet-class>cn.edu.scau.librarica.lend.servlet.ConfirmReturn</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BorrowConfirmReturn</servlet-name>
      <url-pattern>/borrow/conf-return</url-pattern>
    </servlet-mapping>

    <filter>
      <filter-name>IsBorrowerVerifier</filter-name>
      <filter-class>cn.edu.scau.librarica.lend.filter.IsBorrowerVerifier</filter-class>
      <init-param>
        <param-name>borrowSessionIdParamName</param-name>
        <param-value>id</param-value>
      </init-param>
      <init-param>
        <param-name>userIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>IsBorrowerVerifier</filter-name>
      <!--
        borrowSessionIdParamName=id
        userIdParamName=uid
      -->
      <url-pattern>/borrow/abort</url-pattern>
      <url-pattern>/borrow/conf-borrow</url-pattern>
      <url-pattern>/borrow/req-return</url-pattern>
    </filter-mapping>

    <filter>
      <filter-name>IsLenderVerifier</filter-name>
      <filter-class>cn.edu.scau.librarica.lend.filter.IsLenderVerifier</filter-class>
      <init-param>
        <param-name>borrowSessionIdParamName</param-name>
        <param-value>id</param-value>
      </init-param>
      <init-param>
        <param-name>userIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>IsLenderVerifier</filter-name>
      <!--
        borrowSessionIdParamName=id
        userIdParamName=uid
      -->
      <url-pattern>/borrow/accept</url-pattern>
      <url-pattern>/borrow/reject</url-pattern>
      <url-pattern>/borrow/conf-return</url-pattern>
    </filter-mapping>

    <filter>
      <filter-name>IsBookEnvolvedBorrowSessionIntercepter</filter-name>
      <filter-class>cn.edu.scau.librarica.lend.filter.IsBookInvolvedInterceptor</filter-class>
      <init-param>
        <param-name>bookIdParamName</param-name>
        <param-value>id</param-value>
      </init-param>
    </filter>
    <!--
    <filter-mapping>
      <filter-name>IsBookEnvolvedBorrowSessionIntercepter</filter-name>
        bookIdParamName=id
    </filter-mapping>
    -->

    <filter-mapping>
      <filter-name>BookOwnerInterceptor</filter-name>
      <!--
        bookIdParamName=id
      -->
      <url-pattern>/borrow/req-borrow</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>SessionKeyVerifier</filter-name>
      <!--
        userIdParamName=uid
        sessionKeyParamName=s
      -->
      <url-pattern>/borrow/req-borrow</url-pattern>
      <url-pattern>/borrow/abort</url-pattern>
      <url-pattern>/borrow/accept</url-pattern>
      <url-pattern>/borrow/reject</url-pattern>
      <url-pattern>/borrow/req-return</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>PasswordVerifier</filter-name>
      <!--
        userIdParamName=uid
        passParamName=pass
      -->
      <url-pattern>/borrow/conf-borrow</url-pattern>
      <url-pattern>/borrow/conf-return</url-pattern>
    </filter-mapping>
  <!-- /borrow -->

  <!-- sale -->
    <servlet>
      <servlet-name>SaleRegSalable</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.RegSalable</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>SaleRegSalable</servlet-name>
      <url-pattern>/sale/reg</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>SaleUpdateSalable</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.UpdateSalable</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>SaleUpdateSalable</servlet-name>
      <url-pattern>/sale/update</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>SaleUnregSalable</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.UnregSalable</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>SaleUnregSalable</servlet-name>
      <url-pattern>/sale/unreg</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>SaleFilterSalableBids</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.FilterSalableId</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>SaleFilterSalableBids</servlet-name>
      <url-pattern>/sale/filter-bid</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>SaleFilterSalableIsbns</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.FilterSalableIsbn</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>SaleFilterSalableIsbns</servlet-name>
      <url-pattern>/sale/filter-isbn</url-pattern>
    </servlet-mapping>

    <filter-mapping>
      <filter-name>BookOwnerVerifier</filter-name>
      <!--
        bookIdParamName=id
        userIdParamName=uid
      -->
      <url-pattern>/sale/reg</url-pattern>
      <url-pattern>/sale/update</url-pattern>
      <url-pattern>/sale/unreg</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>SessionKeyVerifier</filter-name>
      <!--
        userIdParamName=uid
        sessionKeyParamName=s
      -->
      <url-pattern>/sale/reg</url-pattern>
      <url-pattern>/sale/update</url-pattern>
      <url-pattern>/sale/unreg</url-pattern>
    </filter-mapping>
  <!-- /sale -->

  <!-- buy -->
    <servlet>
      <servlet-name>BuyRequest</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.Request</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BuyRequest</servlet-name>
      <url-pattern>/buy/request</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BuyAbort</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.Abort</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BuyAbort</servlet-name>
      <url-pattern>/buy/abort</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BuyReject</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.Reject</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BuyReject</servlet-name>
      <url-pattern>/buy/reject</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BuyAccept</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.Accept</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BuyAccept</servlet-name>
      <url-pattern>/buy/accept</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BuyClose</servlet-name>
      <servlet-class>cn.edu.scau.librarica.sale.servlet.Close</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BuyClose</servlet-name>
      <url-pattern>/buy/close</url-pattern>
    </servlet-mapping>

    <filter>
      <filter-name>IsBuyerVerifier</filter-name>
      <filter-class>cn.edu.scau.librarica.sale.filter.IsBuyerVerifier</filter-class>
      <init-param>
        <param-name>buySessionIdParamName</param-name>
        <param-value>id</param-value>
      </init-param>
      <init-param>
        <param-name>userIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>IsBuyerVerifier</filter-name>
      <!--
        buySessionIdParamName=id
        userIdParamName=uid
      -->
      <url-pattern>/buy/abort</url-pattern>
      <url-pattern>/buy/close</url-pattern>
    </filter-mapping>

    <filter>
      <filter-name>IsSellerVerifier</filter-name>
      <filter-class>cn.edu.scau.librarica.sale.filter.IsSellerVerifier</filter-class>
      <init-param>
        <param-name>buySessionIdParamName</param-name>
        <param-value>id</param-value>
      </init-param>
      <init-param>
        <param-name>userIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>IsSellerVerifier</filter-name>
      <!--
        buySessionIdParamName=id
        userIdParamName=uid
      -->
      <url-pattern>/buy/accept</url-pattern>
      <url-pattern>/buy/reject</url-pattern>
    </filter-mapping>

    <filter>
      <filter-name>IsBookEnvolvedBuySessionIntercepter</filter-name>
      <filter-class>cn.edu.scau.librarica.sale.filter.IsBookInvolvedInterceptor</filter-class>
      <init-param>
        <param-name>bookIdParamName</param-name>
        <param-value>id</param-value>
      </init-param>
    </filter>
    <!--
    <filter-mapping>
      <filter-name>IsBookEnvolvedBuySessionIntercepter</filter-name>
        bookIdParamName=id
    </filter-mapping>
    -->
  <!-- /buy -->

  <!-- msg  -->
    <servlet>
      <servlet-name>MsgSend</servlet-name>
      <servlet-class>cn.edu.scau.librarica.msg.servlet.SendMsg</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>MsgSend</servlet-name>
      <url-pattern>/msg/send</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>MsgReceive</servlet-name>
      <servlet-class>cn.edu.scau.librarica.msg.servlet.ReceiveMsg</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>MsgReceive</servlet-name>
      <url-pattern>/msg/receive</url-pattern>
    </servlet-mapping>

    <!-- Blacklist control -->
    <filter>
     <filter-name>MsgSend-HatedInterceptor</filter-name>
      <filter-class>cn.edu.scau.librarica.buddy.filter.IsHatedInterceptor</filter-class>
      <init-param>
        <param-name>meIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
      <init-param>
        <param-name>opIdParamName</param-name>
        <param-value>t</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>MsgSend-HatedInterceptor</filter-name>
      <url-pattern>/msg/send</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>SessionKeyVerifier</filter-name>
      <!--
        userIdParamName=uid
        sessionKeyParamName=s
      -->
      <url-pattern>/msg/send</url-pattern>
      <url-pattern>/msg/receive</url-pattern>
    </filter-mapping>
  <!-- /msg -->

  <!-- remind -->
    <servlet>
      <servlet-name>RemindReceiveRemind</servlet-name>
      <servlet-class>cn.edu.scau.librarica.remind.servlet.ReceiveRemind</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>RemindReceiveRemind</servlet-name>
      <url-pattern>/remind/receive</url-pattern>
    </servlet-mapping>

    <filter-mapping>
      <filter-name>SessionKeyVerifier</filter-name>
      <!--
        userIdParamName=uid
        sessionKeyParamName=s
      -->
      <url-pattern>/remind/receive</url-pattern>
    </filter-mapping>
  <!-- /remind -->

  <!-- buddy -->
    <servlet>
      <servlet-name>BuddyLike</servlet-name>
      <servlet-class>cn.edu.scau.librarica.buddy.servlet.Like</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BuddyLike</servlet-name>
      <url-pattern>/buddy/like</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BuddyHate</servlet-name>
      <servlet-class>cn.edu.scau.librarica.buddy.servlet.Hate</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BuddyHate</servlet-name>
      <url-pattern>/buddy/hate</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>BuddyUnset</servlet-name>
      <servlet-class>cn.edu.scau.librarica.buddy.servlet.Unset</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>BuddyUnset</servlet-name>
      <url-pattern>/buddy/unset</url-pattern>
    </servlet-mapping>

    <!--
    <filter>
      <filter-name>IsUserHatedInterceptor</filter-name>
      <filter-class>cn.edu.scau.librarica.buddy.filter.IsHatedInterceptor</filter-class>
      <init-param>
        <param-name>meIdParamName</param-name>
        <param-value>uid</param-value>
      </init-param>
      <init-param>
        <param-name>opIdParamName</param-name>
        <param-value>opId</param-value>
      </init-param>
    </filter>

    <filter-mapping>
      <filter-name>IsUserHatedInterceptor</filter-name>
    </filter-mapping>
    -->


    <filter-mapping>
      <filter-name>SessionKeyVerifier</filter-name>
      <!--
        userIdParamName=uid
        sessionKeyParamName=s
      -->
      <url-pattern>/buddy/like</url-pattern>
      <url-pattern>/buddy/hate</url-pattern>
      <url-pattern>/buddy/unset</url-pattern>
    </filter-mapping>
  <!-- /buddy -->

  <!-- config -->
    <servlet>
      <servlet-name>ServerConfigBroadcaster</servlet-name>
      <servlet-class>cn.edu.scau.librarica.util.conf.ServerConfigBroadcaster</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>ServerConfigBroadcaster</servlet-name>
      <url-pattern>/server/config</url-pattern>
    </servlet-mapping>
  <!-- /config -->

  <!-- douban -->
    <servlet>
      <servlet-name>DoubanAuthAgent</servlet-name>
      <servlet-class>cn.edu.scau.librarica.douban.servlet.DoubanAuthAgent</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>DoubanAuthAgent</servlet-name>
      <url-pattern>/douban/auth</url-pattern>
    </servlet-mapping>
  <!-- /douban -->

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>    
 